{% extends 'base.html' %}

{% block title %}<title>Chat #{{ chat_id }}</title>{% endblock %}

{% block content %}
<div class="row justify-content-center flex-grow-1">
  <div class="col col-12 col-md-6 col-lg-4 d-flex flex-column">
    <div id="messages" style="overflow-y:scroll; width:400px; height:300px; border:1 solid #000000;"></div>
    <hr>
    <form class="d-flex" id="form" data-chat-id="{{ chat_id }}">
      <div class="flex-grow-1 me-3">
        <input
            type="text"
            class="form-control"
            name="message"
            placeholder="Message"
            autocomplete="off"
            autofocus
            required
        >
      </div>
      <button type="submit" class="btn btn-warning">Send</button>
    </form>
  </div>
</div>
<script>
  (function () {
    const form = document.getElementById('form');
    const container = document.getElementById('messages');
    const chatId = form.dataset.chatId;
    const ws = new WebSocket(getWebsocketUrl(chatId));
  
    form.addEventListener('submit', sendMessage);
    ws.onmessage = renderMessage;
  
    function getWebsocketUrl(chatId) {
      const protocol = location.protocol === 'https:' ? 'wss' : 'ws';
      return `${protocol}://${location.host}/chats/${chatId}`;
    }
  
    function sendMessage(event) {
      event.preventDefault();
  
      const formData = new FormData(this);
      const message = formData.get('message');
  
      this.reset();
      ws.send(message);
    }
  
    function renderMessage(event) {
      const message = JSON.parse(event.data);
      const messageElement = document.createElement('div');
      messageElement.className = 'bg-light rounded p-2 mb-2';
      messageElement.innerHTML = `
        <p class="mb-2">${message.message}
        <small class="d-block text-end">at ${message.created_at}</p>
      `;
      container.appendChild(messageElement);
      $("#messages").scrollTop($("#messages")[0].scrollHeight);
    }

  })();
</script>
{% endblock %}